* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: #003049;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul,
li {
    list-style: none;
}

ul a,
a {
    text-decoration: none;
    color: #c1121f;
}

.menu>a {
    border: 1px solid #c1121f;
    border-radius: 1.5rem;
    padding: .75rem 1.5rem;
    background-color: transparent;
    appearance: none;
}

.menu {
    position: relative;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: flex-start;


}

ul {
    position: absolute;
    top: 100%;
    left: -2rem;
    background-color: #fdf0d5;
    border-radius: .5rem;
    padding: .5rem;
    display: none;



}

.menu:hover ul {
    display: block;

}

.menu:hover>a {
    border-color: #fdf0d5;
    color: #fdf0d5;


}

.menu ul a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    min-width: 15rem;

}

.menu ul a:hover {
    background-color: #003049;
    color: #fdf0d5;
}